<h1 mat-dialog-title>Details for {{data.selectedSteps.length}} roadmap steps:</h1>
<div mat-dialog-content>
  <h3>Roadmap Timeframe</h3>
  <mat-form-field appearance="fill" class="stepsFormControl">
    <mat-label>Enter the start and end dates</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="data.roadmapStart" placeholder="Start date">
      <input matEndDate [(ngModel)]="data.roadmapEnd" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>DD/MM/YYYY –DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <div *ngFor="let step of data.selectedSteps">
    <h3>{{step.step.opSelector}}</h3>
    <mat-form-field appearance="fill" class="stepsFormControl">
      <mat-label>Enter the start and end dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="step.dateStart" placeholder="Start date">
        <input matEndDate [(ngModel)]="step.dateEnd" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY –DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <ckeditor [editor]="Editor" [(ngModel)]="step.step.text"></ckeditor>
    <div style="margin-left: 5%;">
      <h4>Milestones:
        <button mat-icon-button color="primary" (click)="addMilestone(step.step)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </h4>
      <div *ngFor="let milestone of step.step.milestones">
        <mat-form-field class="example-form-field" appearance="fill" class="stepsFormControl">
          <mat-label>Milestone</mat-label>
          <input matInput type="text" [(ngModel)]="milestone.name" name="country">
        </mat-form-field>
        <mat-form-field appearance="fill" class="stepsFormControl">
          <mat-label>Milestone date</mat-label>
          <input matInput [matDatepicker]="milestonePicker" [(ngModel)]="milestone.date">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="milestonePicker"></mat-datepicker-toggle>
          <mat-datepicker #milestonePicker></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="removeMilestone(step.step, milestone.name)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <ckeditor [editor]="Editor" [(ngModel)]="milestone.text"></ckeditor>
      </div>
    </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="">Cancel</button>
</div>