.example-spacer {
    flex: 1 1 auto;
  }

button {
    margin-left: 15px;
}

a {
    margin-left: 15px;
}

#title {
    margin-left: 15px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

mat-grid-list {
    max-height: 90%;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
    top: 5px;
    margin-left: 15px;
    padding-right: 35px;
    max-height: 90%;
    overflow-y: scroll;
}

.stepsFormControl {
    width: 40%; 
    margin: 10px;
}

.selectorsControl {
    width: 80%;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

.examplesMenu {
    width: 600px;
}

.rmsidenav {
    width: 40%; 
    min-width: 40%;
    margin-left: 15px;
}

.nav-content {
    height: 88vh;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 65px;
}

h2 {
    margin-top: 30px;
}

#roadmap-preview {
    margin: 15px;
}

.action-buttons {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 999;
}

.action-button {
    box-shadow: 8px 8px 15px grey;
}
#planning {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 65px;
}

.chart-buttons {
    margin: 20px;
}

.welcome-title {
    text-align: center;
    /* margin-top: 10px; */
    font-size: xx-large;
}

.welcome-text {
    text-align: center;
    margin-top: 3em;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}

.welcome-link {
    margin-left: 0px;
}

.img-center {
    /* margin-top: 5em; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* overflow: hidden;
    margin-top: -4em;
    margin-bottom: -4em; */
  }