<mat-toolbar color="primary">
  <button mat-icon-button style="padding: 0px;">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <img src="assets/img/small_logo.png" height="60px">
  <span id="title">SNOMED CT Implementation Roadmap Generator</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="examplesMenu">
    <mat-icon>highlight</mat-icon>&nbsp;
    EXAMPLES
  </button>
  <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file">
  <mat-menu #examplesMenu="matMenu">
    <button mat-menu-item (click)="loadJsonExample('example1.json')">
      Roadmap for Snomedland
    </button>
    <button mat-menu-item (click)="loadJsonExample('example2.json')">
      Full roadmap
    </button>
  </mat-menu>
  <a href="https://github.com/ihtsdo/roadmap-generator" target="_blank" mat-raised-button color="primary"><mat-icon>info</mat-icon></a>
</mat-toolbar>
<button mat-fab color="primary" id="nav-open" (click)="sidenav.open()" *ngIf="!sidenav.opened" matTooltip="Open design form" [matTooltipPosition]="'right'">
  <mat-icon>arrow_forward_ios</mat-icon>
</button>
<button mat-fab color="primary" id="nav-close" (click)="sidenav.close()" *ngIf="sidenav.opened" matTooltip="Close design form" [matTooltipPosition]="'right'">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
<mat-sidenav-container [hasBackdrop]="false" id="sidenav-main">
  <mat-sidenav #sidenav [mode]="'side'" [opened]="false" class="rmsidenav">
    <h2>Select roadmap components</h2>
      <mat-form-field class="example-form-field" appearance="fill" class="selectorsControl">
        <mat-label>Country or Organization name</mat-label>
        <input matInput type="text" [(ngModel)]="country" name="country" (ngModelChange)="nameChanged()">
        <button *ngIf="country" matSuffix mat-icon-button aria-label="Clear" (click)="country=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="Enter the name of the country or region where this strategy will apply to." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Background</mat-label>
        <mat-select [(ngModel)]="selectedBackground" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Background', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let background of backgrounds" [value]="background" (onSelectionChange)="change('Background', $event)">
            {{background.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openBackgroundsEditor()" [disabled]="!selectedBackground"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="The background section provides information about SNOMED CT and  about the organization publishing this roadmap." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Vision</mat-label>
        <mat-select [(ngModel)]="selectedVisions" [compareWith]="compareOptions" name="selectedVisions" multiple>
          <mat-option *ngFor="let vision of visions" [value]="vision" (onSelectionChange)="changeVision()">
            {{vision.opSelector}}
          </mat-option>
          <button mat-flat-button (click)="addCustomVision()">Add custom vision</button>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openVisionEditor()" [disabled]="!selectedVisions.length"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="The vision for the state of the healthcare landscape in the future, focusing in the aspects that will be supported by the completion of this roadmap." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Current eHealth landscape</mat-label>
        <mat-select [(ngModel)]="selectedCurrentState" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Current-eHealth-landscape', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let currentStateSource of currentStates" [value]="currentStateSource" (onSelectionChange)="change('Current-eHealth-landscape', $event)">
            {{currentStateSource.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openCurrentStateEditor()" [disabled]="!selectedCurrentState"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="A description of the current eHealth landscape in the country or territory where this roadmap applies to." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Goals</mat-label>
        <mat-select [(ngModel)]="selectedGoals" [compareWith]="compareOptions" name="selectedGoals" multiple>
          <mat-option *ngFor="let goal of goals" [value]="goal" (onSelectionChange)="changeGoals()">
            {{goal.opSelector}}
          </mat-option>
          <button mat-flat-button (click)="addCustomGoal()">Add custom goal</button>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openGoalsEditor()" [disabled]="!selectedGoals.length"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="The main goals to be achieved by the completion of this roadmap." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Clinical focus</mat-label>
        <mat-select [(ngModel)]="selectedClinicalFocus" [compareWith]="compareOptions" name="selectedClinicalFocus" multiple>
          <mat-option *ngFor="let focus of clinicalFocus" [value]="focus" (onSelectionChange)="changeClinicalFocus()">
            {{focus.opSelector}}
          </mat-option>
          <button mat-flat-button (click)="addCustomClinicalFocus()">Add custom clinical focus</button>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openFocusEditor()" [disabled]="!selectedClinicalFocus.length"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="The clinical areas that will be the main focus of this roadmap." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Roadmap steps</mat-label>
        <mat-select [(ngModel)]="selectedSteps" name="selectedSteps" [compareWith]="compareOptionsSteps" multiple>
          <mat-optgroup *ngFor="let group of stepOptions" [label]="group.group">
            <button mat-flat-button (click)="addAllGroup(group.group)">Add all</button>
            <button mat-flat-button (click)="addCustom(group.group)">Add custom step</button>
            <mat-option *ngFor="let step of group.options" [value]="{ group: group.group, step: step, dateStart: today, dateEnd: today }" (onSelectionChange)="changeSteps($event)">
              {{step.opSelector}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openStepsDialog()" [disabled]="selectedSteps.length == 0"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="The steps and milestones of this roadmap. Dates can be specified to support detailed planning." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Implementation projects</mat-label>
        <mat-select [(ngModel)]="selectedProject" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Implementation-projects', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let project of projects" [value]="project" (onSelectionChange)="change('Implementation-projects', $event)">
            {{project.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openProjectsEditor()" [disabled]="!selectedProject"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="A list of implementation projects that will be executed in the context of this roadmap." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Closing remarks</mat-label>
        <mat-select [(ngModel)]="selectedClosing" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Closing-remarks', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let closing of closings" [value]="closing" (onSelectionChange)="change('Closing-remarks', $event)">
            {{closing.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openClosingEditor()" [disabled]="!selectedClosing"
      matTooltip="Edit options text" [matTooltipPosition]="'left'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="false"
      matTooltip="Closing words to wrap up the document and an opportunity to highlight important messages." [matTooltipPosition]="'left'">
        <mat-icon>help</mat-icon>
      </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row" fxLayoutAlign="end center" class="action-buttons">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="fileMenu" class="action-button">
        <mat-icon>save</mat-icon>
        File
      </button>
      <mat-menu #fileMenu="matMenu">
        <button mat-menu-item (click)="export()" [disabled]="roadmap.length < emptyTemplateLength">Download Roadmap</button>
        <button mat-menu-item (click)="fileInput.click()">Upload Roadmap</button>
        <button mat-menu-item (click)="clear()" [disabled]="roadmap.length < emptyTemplateLength">Clear Roadmap</button>
      </mat-menu>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="exportMenu" class="action-button" *ngIf="roadmap.length >= emptyTemplateLength">
        <mat-icon>cloud_download</mat-icon>
        Export
      </button>
      <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="downloadWord()">Export to Word</button>
        <button mat-menu-item (click)="savePdf()">Export to PDF</button>
      </mat-menu>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="viewMenu" class="action-button" *ngIf="selectedSteps.length > 0">
        <mat-icon>bar_chart</mat-icon>
        Diagrams
      </button>
      <mat-menu #viewMenu="matMenu">
        <button mat-menu-item (click)="openTimelineDialog()">View Timeline</button>
        <!-- <button mat-menu-item (click)="openTimelineAsPng()" [disabled]="selectedSteps.length == 0">Export Timeline to PNG</button> -->
        <button mat-menu-item (click)="openGanttDialog()">View Gantt Chart</button>
        <!-- <button mat-menu-item (click)="openGanttAsPng()" [disabled]="selectedSteps.length == 0">Export Gantt to PNG</button> -->
        <!-- <button mat-menu-item (click)="saveGanttPdf()" [disabled]="selectedSteps.length == 0">Export Planning to PDF</button> -->
      </mat-menu>
      <button mat-raised-button color="primary"
        *ngIf="selectedSteps.length > 0" (click)="openStepsDialog()" class="action-button">
        <mat-icon>edit</mat-icon>&nbsp;
        Edit dates
      </button>
    </div>
    <div class="nav-content" *ngIf="roadmap.length < emptyTemplateLength" id="welcome-panel">
      <div class="head-welcome" [ngStyle]="{'background-image': getBackgroundImageUrl()}">
        <p class="welcome-title">Welcome to the SNOMED CT Implementation Roadmap Generator</p>
        <div class="head-ps">
          <p class="welcome-text">This tool is designed to promote and support the creation of implementation roadmaps for the adoption of SNOMED CT in countries, regions or organizations.</p>
          <p class="welcome-text">You can start creating a new roadmap by selecting the components from the 
            <a href="javascript:void(0);" (click)="sidenav.open()" class="welcome-link">design form</a>, you can 
            <a href="javascript:void(0);" (click)="fileInput.click()" class="welcome-link">upload a roadmap</a> saved on your computer, 
            or you can <a href="javascript:void(0);" (click)="loadJsonExample('example1.json')" class="welcome-link">load an example</a>.
          </p>
        </div>
      </div>
      <!-- <img src="assets/img/swirl.png" class="img-center"> -->
    </div>
    <div class="nav-content" *ngIf="roadmap.length >= emptyTemplateLength">
      <div [innerHTML]="roadmap | safe: 'html'" id="roadmap-preview"></div>
      <hr>
      <div *ngIf="selectedSteps.length > 0" id="planning">
        <h1>Roadmap planning diagrams</h1>
        <div id="gantt">
          <h2>Gantt chart</h2>
          <app-gantt-chart [roadmapStart]="roadmapStart" [roadmapEnd]="roadmapEnd" [selectedSteps]="selectedSteps"></app-gantt-chart>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="chart-buttons">
          <button mat-raised-button color="primary" (click)="openGanttDialog()">
            Open Gantt
          </button>
          <button mat-raised-button color="primary" (click)="openGanttAsPng()">
            Open Gantt as PNG new window
          </button>
        </div>
        <div id="timeline">
          <h2>Timeline</h2>
          <app-timeline-chart [data]="{ country, selectedSteps, roadmapStart, roadmapEnd }"></app-timeline-chart>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="chart-buttons">
          <button mat-raised-button color="primary" (click)="openTimelineDialog()">
            Open Timeline
          </button>
          <button mat-raised-button color="primary" (click)="openTimelineAsPng()">
            Open Timeline as PNG new window
          </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>